/* Below is the CSS for the navigation bar found at the top of each page */
#main-navbar {
  /*background-color: rgb(173,0,0);*/
  overflow: hidden;
  background-image: url("../media/navbg.jpg");
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: rgb(212,183,42);
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #000;
}
#onpage {
  text-decoration: underline;
}
/* Below is the CSS for the home page which is using a fluid layout */
#home h3{
  position: relative;
  left: 1%;
  box-sizing: border-box;
  width: 99%;
  margin: 0;
}
#home p {
  position: relative;
  left: 3%;
  box-sizing: border-box;
  width: 94%;
}
#bands li{
  position: relative;
  left: 5%;
  box-sizing: border-box;
  width: 95%;
}
#home img {
  display: block;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}
#home section:nth-child(even) {
  background-color: lightgrey;
}
/* Below is the font stack using browser native fonts for the resume page */
.resume h1 {
  font-family: Arial, 'Times New Roman';
  text-align: center;
}
.resume h3 {
  font-family: Arial, 'Times New Roman';
}
#contact-info {
  text-align: center;
}
.resume p {
  font-family: Arial, 'Times New Roman';
}
.resume li {
  font-family: Arial, 'Times New Roman';
}
/* Below is the font stack that most pages will use */
h1 {
  font-family: Merriweather, Arial, 'Times New Roman';
  text-align: center;
}
h2 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h3 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h4 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h5 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h6 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
p {
  font-family: Merriweather, Arial, 'Times New Roman';
  font-weight: 300;
}
li {
  font-family: Merriweather, Arial, 'Times New Roman';
  font-weight: 300;
}