@font-face {
  font-family: p5font;
  src: url(p5font/p5hatty.ttf);
}
/* Below is the CSS for the navigation bar found at the top of each page */
#main-navbar {
  /*background-color: rgb(173,0,0);*/
  overflow: hidden;
  background-image: url("../media/navbg.jpg");
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: p5font;
  font-size: x-large;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: rgb(212,183,42);
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #000;
  border-radius: 15px;
}
#onpage {
  text-decoration: underline;
}
/* Below is the CSS for the home page which is using a fluid layout */
/* First media query is for anyone on a desktop/laptop sized screen (mostly) */
@media screen and (min-width: 1200px) {
  #home h3{
    position: relative;
    left: 1%;
    box-sizing: border-box;
    width: 99%;
    margin: 0;
  }
  #home p {
    position: relative;
    left: 3%;
    box-sizing: border-box;
    width: 94%;
  }
  #bands li{
    position: relative;
    left: 5%;
    box-sizing: border-box;
    width: 95%;
  }
  #home img {
    display: block;
    margin-left: 37.5%;
    margin-right: 37.5%;
    width: 25%;
  }
}
/* Second media query is for when the window is smaller or on smaller devices like tablets or large phones */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  #home h3{
    position: relative;
    left: 2%; /* Change 1, so the text isn't uncomfortably close to the left side of the screen */
    box-sizing: border-box;
    width: 98%; /* Change 2, so the text isn't uncomfortably close to the right side of the screen */
    margin: 0;
  }
  #home p {
    position: relative;
    left: 4%; /* Change 3, so the paragraph text is slightly staggered from the head and not too close to the left */
    box-sizing: border-box;
    width: 92%; /* Change 4, so the paragraph text isn't too close to the right side and is proportional to the left side */ 
  }
  #bands li{
    position: relative;
    left: 6%; /* Change 5, so the list is staggered from the paragraph body */
    box-sizing: border-box;
    width: 94%; /* Change 6, so the content box doesn't go off screen */
  }
  #home img {
    display: block;
    margin-left: 30%; /* Change 7, so the image stays centered but scales better as the size changes */
    margin-right: 30%; /* Change 8, so the image stays centered but scales better as the size changes */
    width: 40%; /* Change 9, so the image stays centered but scales better as the size changes */
  }
}
/* Third media query is for when the window is on even smaller devices like phones in portrait mode */
@media screen and (min-width: 200px) and (max-width: 800px) {
  #home h3{
    position: relative;
    left: 4%; /* Change 1, so the text isn't uncomfortably close to the left side of the screen */
    box-sizing: border-box;
    width: 96%; /* Change 2, so the text isn't uncomfortably close to the right side of the screen */
    margin: 0;
  }
  #home p {
    position: relative;
    left: 8%; /* Change 3, so the paragraph text is slightly staggered from the head and not too close to the left */
    box-sizing: border-box;
    width: 84%; /* Change 4, so the paragraph text isn't too close to the right side and is proportional to the left side */ 
  }
  #bands li{
    position: relative;
    left: 12%; /* Change 5, so the list is staggered from the paragraph body */
    box-sizing: border-box;
    width: 88%; /* Change 6, so the content box doesn't go off screen */
  }
  #home img {
    display: block;
    margin-left: 20%; /* Change 7, so the image stays centered but scales better as the size changes */
    margin-right: 20%; /* Change 8, so the image stays centered but scales better as the size changes */
    width: 60%; /* Change 9, so the image stays centered but scales better as the size changes */
  }
}
#home section:nth-child(even) {
  background-color: lightgrey;
}
/* Below is the CSS for the resume page which is using a fixed width layout */
.wrapper {
  width: 900px;
  margin: auto;
  background-color: white;
}
.resume h3 {
  background-color: lightgrey;
  border: 1px solid black;
}
.resume p {
  position: relative;
  left: 20px;
  margin: 5px;
}
#contact-info {
  text-align: center;
  background-color: white;
  border: none;
}
.resume li {
  margin: 5px;
  list-style-type: square;
}
p.main-content {
  float: left;
  display: inline;
  width: 550px;
  margin: 2.5px 0;
}
p.side-content {
  float: right;
  display: inline;
  width: 350px;
  margin: 2.5px 0;
  top: -25px;
}
#clear {
  clear: left;
}
/* Below is the CSS for the games page which is using a fluid layout */
#games h3 {
  position: relative;
  left: 1%;
  box-sizing: border-box;
  width: 99%;
  margin: 0;
}
#games p {
  position: relative;
  left: 3%;
  box-sizing: border-box;
  width: 94%;
}
#games #fav-games li {
  position: relative;
  left: 5%;
  box-sizing: border-box;
  width: 95%;
}
#games h4 {
  position: relative;
  left: 5%;
  box-sizing: border-box;
  width: 95%;
}
#p4g img {
  width: 20%;
  position: relative;
  box-sizing: border-box;
  left: 6%;
  float: left;
}
section#p4g {
  background-color: rgb(252,252,101);
}
#games #p4g p {
  position: relative;
  left: 8%;
  box-sizing: border-box;
  width: 88%;
}
#p5r img {
  width: 30%;
  position: relative;
  box-sizing: border-box;
  left: 6%;
  float: left;
}
section#p5r {
  background-color: #F70000;
}
#p5r iframe {
  position: relative;
  box-sizing: border-box;
  left: 60%;
  width: 20%;
}
#games #p5r h4 {
  font-family: p5font;
  font-size: xx-large;
}
#games #p5r p {
  position: relative;
  left: 8%;
  box-sizing: border-box;
  width: 88%;
  font-weight: 600;
}
/* Below is the font stack using browser native fonts for the resume page */
.resume h1 {
  font-family: Arial, 'Times New Roman';
  text-align: center;
}
.resume h3 {
  font-family: Arial, 'Times New Roman';
}
.resume p {
  font-family: Arial, 'Times New Roman';
}
.resume li {
  font-family: Arial, 'Times New Roman';
}
/* Below is the font stack that most pages will use */
h1 {
  font-family: Merriweather, Arial, 'Times New Roman';
  text-align: center;
}
h2 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h3 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h4 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h5 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
h6 {
  font-family: Merriweather, Arial, 'Times New Roman';
}
p {
  font-family: Merriweather, Arial, 'Times New Roman';
  font-weight: 300;
}
li {
  font-family: Merriweather, Arial, 'Times New Roman';
  font-weight: 300;
}